@import 'bulma/utilities/utilities';
@import 'bulma/config/variables';

// Override variables here
// You can add new ones or update existing ones:


@import 'bulma/config/generated-variables';


// Override generated variables here
// For example, by default, the $danger color is $red and the font is sans-serif
// You can change these values:

@import 'bulma/base/base';
@import 'bulma/elements/elements';
@import 'bulma/components/components';
@import 'bulma/layout/layout';

$default-background-color: #fff;

.counter-value {
  font-size: 4rem;
  margin: 1rem;
}
